---
- name: playbook to install spotify
  hosts: localhost
  connection: local

  tasks:
    - include_tasks: ../common/install-package-from-third-party.yml
      vars:
        package: spotify-client
        gpg_key: https://download.spotify.com/debian/pubkey_5384CE82BA52C83A.asc
        repository_url: http://repository.spotify.com
        suites: stable
        components: non-free
